@model IEnumerable<PI_OTDAV_Web.Models.paimentModel>

@{
    Layout = "~/Views/Shared/Template.cshtml";
}
 <br /><br />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<img src="http://localhost:8080/pi/logo.png" hidden />
<div class="row">

    <div class="col-lg-8">


        <div class="modal fade" id="exampleModal" tabindex="-1"
             role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Cheque
                            Image
                        </h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="" id="chequeImagePopUp"
                             style="width: 550px;" /> <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Paiment</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#home-pills" data-toggle="tab">Cotisation</a>
                    </li>
                    <li><a href="#profile-pills" data-toggle="tab">Declaration</a></li>
                    <li><a href="#messages-pills" data-toggle="tab">Dépot</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home-pills">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    <a onclick="showDetail(@item.ID,'@item.Date')">Details</a> 
                                </td>
                            </tr>
                            }

                        </table>
                    </div>
                    <div class="tab-pane fade in " id="profile-pills">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in (IEnumerable<PI_OTDAV_Web.Models.paimentModel>)ViewBag.listPaimentDeclaration)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    <a onclick="showDetail(@item.ID,'@item.Date')">Details</a>
                                </td>
                            </tr>
                            }

                        </table>

                    </div>
                    <div class="tab-pane fade in " id="messages-pills">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in (IEnumerable<PI_OTDAV_Web.Models.paimentModel>)ViewBag.listPaimentDeposit)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    <a onclick="showDetail(@item.ID,'@item.Date')">Details</a>
                                </td>
                            </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

    <div class="col-lg-4">
        <div id="print">
            <div id="paiment">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Price</td>
                            <td><p id="price"> </p></td>
                        </tr>
                        <tr>
                            <td>Status :</td>
                            <td><p id="status"> </p></td>
                        </tr>
                        <tr>
                            <td>Title :</td>
                            <td><p id="title"> </p></td>
                        </tr>
                        <tr>
                            <td>Date :</td>
                            <td><p id="date"> </p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="cheque">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Banque</td>

                            <td><p id="banque"> </p></td>
                        </tr>
                        <tr>
                            <td>Num</td>

                            <td><p id="chequeNum"> </p></td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td><p id="chequePrice"> </p></td>
                        </tr>
                        <tr>
                            <td>Image</td>
                            <td>
                                <img data-toggle="modal" data-target="#exampleModal" id="chequeImg"
                                     style="width: 200px;"
                                     src="" />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div id="virement">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Agence</td>
                            <td>
                                <p id="virementAgence"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Banque</td>
                            <td>
                                <p id="virementBanque"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Code Virement</td>
                            <td>
                                <p id="virementCode"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div id="showSubmit">
            <form>
                <button class="btn btn-success" onclick="PrintElem()">
                    Imprimer
                </button>
            </form>
        </div>
    </div>
</div>



<script>

    var id = 0;
    //var codePanel = $("#panelSelected").val();
    //document.getElementById("paiment").style.visibility = 'hidden';  .style.display = "block";
    document.getElementById("paiment").style.display = 'none';
    document.getElementById("showSubmit").style.display = 'none';
    document.getElementById("cheque").style.display = 'none';
    document.getElementById("virement").style.display = 'none';

    function showDetail(idPaiment, datePaiment) {
        id = idPaiment;
        document.getElementById("cheque").style.display = 'none';
        document.getElementById("virement").style.display = 'none';
        $.ajax({
            url: '@Url.Action("getPaimentById", "paiment")?idPaiment=' + id,
            type: 'POST',
            dataType: 'json',
            cache: false,
            data: {},
            success: function (data) {
                console.log(data);
                document.getElementById("paiment").style.display = 'block';
                document.getElementById("showSubmit").style.display = 'block';
                document.getElementById("price").innerHTML = data.Price;
                document.getElementById("status").innerHTML = data.Status;
                document.getElementById("title").innerHTML = data.Title;
                document.getElementById("date").innerHTML = datePaiment;
                if (data.cheque != null) {
                    document.getElementById("cheque").style.display = 'block';
                    document.getElementById("banque").innerHTML = data.cheque.bank;
                    document.getElementById("chequeNum").innerHTML = data.cheque.Num;
                    document.getElementById("chequePrice").innerHTML = data.cheque.Price;
                    document.getElementById("chequeImg").src = data.cheque.image;//chequeImagePopUp
                    document.getElementById("chequeImagePopUp").src = data.cheque.image;
                }
                else if (data.virement != null) {
                    document.getElementById("virement").style.display = 'block';
                    document.getElementById("virementAgence").innerHTML = data.virement.agence;
                    document.getElementById("virementBanque").innerHTML = data.virement.bank;
                    document.getElementById("virementCode").innerHTML = data.virement.codeVirement;
                }
            },
            error: function () {
                alert("error");
            }
        });
    }
</script>
<script>
    function PrintElem() {

        var mywindow = window.open('', 'PRINT', 'height=400,width=600');

        mywindow.document.write('<html><head><title>' + document.title + '</title>');
        mywindow.document.write('</head><body >');
        mywindow.document.write('<h1>' + "Facture" + '</h1>');
        //mywindow.document.write(document.getElementById('img'));
        mywindow.document.write('<div style="width:80%;margin-left:10%;border:1.5px solid #1b1a19;border-radius:7px;">');

        mywindow.document.write('<img src="http://localhost:8080/pi/logo.png" style="width:90%;height:250;margin-left:5%"/>');
        mywindow.document.write('<div style="margin-left:7%"><h3>Bonjour Boukhtioua Ahmed,</h3>Bienvenue chez <b>OTDAV</b>. Voici votre facture !');
        mywindow.document.write(document.getElementById("print").innerHTML);
        mywindow.document.write('<p>Vous pouvez accéder au site : <a style="color:#253c93;text-decoration:none">www.OTDAV.tn</a></p>');
        mywindow.document.write('</div></div>');
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }
</script>
